# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The Python 3.9+ cache directory
__pycache__/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will regenerate these files
android/key.properties
android/local.properties
android/project.properties
android/out/
android/.gradle/
android/app/src/main/res/values/strings.xml

# iOS/Mac related
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/App.podspec
ios/Flutter/App.xcframework
ios/Pods/
ios/.generated/
macos/Flutter/ephemeral/

# Windows related
windows/flutter/ephemeral/
windows/CMakeCache.txt
windows/CMakeFiles/
windows/CMakeLists.txt.user
windows/*.sln
windows/*.vcxproj
windows/*.vcxproj.user

# Linux related
linux/flutter/ephemeral/

# Web related
lib/generated_plugin_registrant.dart

# Executables
*.exe
*.dll
*.so
*.dylib

# Temporary analysis files (Created during development)
analysis.txt
analysis_result.txt
analysis_utf8.txt
final_analysis.txt
final_analysis_utf8.txt
