# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
__pycache__/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/generated/
**/android/captures/
**/android/app/google-services.json
**/android/key.properties
**/android/local.properties
**/android/project.properties
**/android/out/
**/android/.gradle/
**/android/*.keystore
**/android/*.jks
**/android/app/src/main/res/values/strings.xml
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# iOS/Mac related
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/App.podspec
**/ios/Flutter/App.xcframework
**/ios/Flutter/App.framework.zip
**/ios/Flutter/App.framework_v7.zip
**/ios/Flutter/App.framework_v7s.zip
**/ios/Flutter/App.framework_v7.plist
**/ios/Flutter/App.framework_v7s.plist
**/ios/.generated/
**/macos/Flutter/ephemeral/

# Windows related
windows/flutter/ephemeral/
windows/CMakeCache.txt
windows/CMakeFiles/
windows/CMakeLists.txt.user
windows/*.sln
windows/*.vcxproj
windows/*.vcxproj.user

# Linux related
linux/flutter/ephemeral/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json

# Temporary analysis files
analysis.txt
analysis_result.txt
analysis_utf8.txt
final_analysis.txt
final_analysis_utf8.txt

# Testing
/test/coverage/

# Executables
*.exe
*.dll
*.so
*.dylib
*.apk
*.aab
*.app
